body {
    position: relative;
}
.navbar-item-custom a {
    color: #fff;
}
.footer-custom{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dfdfdf;
    padding-top: 25px;
}
.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}
.product-item{
    margin-top: 15px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}
.product-item  .product-price{
    font-size: 15px;
    font-weight: bold;
}
.product-page-price{
    font-size: 19px;
}
.cart-icon{
    height: 20px;
}
.block-small{
    max-width: 600px;
    margin: auto;
}
.form-check{
    background-color: #d0e1fd;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-check{
    font-weight: bold;
}

.order-sumary{
    background-color: #d0e1fd;
    padding: 20px 10px;
}